body{
    background: #d4d4d4;
    font-family: "Source Sans 3", serif;
    font-size: 16px;
    color: #434343;
}
h1{
    text-align: center;
    margin: 10px;
    font-family: "Source Sans 3", serif;
    color: #434343;
}
h2{
    text-align: center;
    color: #434343;
    margin: 10px;
}
h2.suncoast{
    color: #72d1d4;
    margin-top: 30px;
}
h2.part-num-disp{
    color: #f7b500;
    border: 2px solid #f7b500;
    margin: 20px 40px;
    padding: 10px;
}
h3{
    text-align: center;
    color: #434343;
    margin: 20px auto auto auto;
}
h4{
    text-align: center;
    color: #f7b500;
}
p{
    text-align: center;
}
ul{
    margin: 5px auto;
    list-style-type: none;
    padding-left: 25px;
    padding-bottom: 10px;
}
li{
    font-size: 14px;
    color: #818181;
}
li h5{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
#container{
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 430px;
    min-width: 250px;
    margin: 20px auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #c2c0c0;
}
.page-div{
    background: white;
    margin: 10px;
    padding: 10px;
}

/* PDF STYLES */
#container-pdf{
    display: none;
    background: white;
    width: 800px;
    margin: 10px auto;
    padding: 40px;
}
#container-pdf div{
    margin: 10px;
    padding: 10px;
}
#container-pdf .part-num-disp{
    margin: 30px 200px;
}
#container-pdf h3{
    text-align: left;
    margin: 5px;
}
#container-pdf .pdf-cost{
    margin: 20px auto;
    padding: 10px auto;
}
#container-pdf h4{
    display: inline;
    text-align: left;
    font-size: 18px;
    color: #434343;
    border: 2px solid;
    padding: 10px 40px;
}
#container-pdf ul{
    list-style-type: none;
}


/* FORM STYLES */
form{
    margin: 10px;
    padding: 10px;
    display: block;
    font-family: "Source Sans 3", serif;
    color: #434343;
}
form#component-form{
    text-align: center;
}
form#hpu-sys-params-form{
    text-align: right;
}
form#hpu-manifold-form{
    display: none;
    text-align: right;
}
form#hpu-valve-form{
    display: none;
    text-align: right;
}
form#email-form{
    text-align: right;
    margin: 10px 20px;
}

/* FORM INPUT STYLES */
input{
    display: inline-block;
    width: 155px;
    margin: 10px auto;
    padding: 10px;
    font-family: "Source Sans 3", serif;
    color: #434343;
}
select{
    display: inline-block;
    width: 180px;
    margin: 10px auto;
    padding: 10px;
    font-family: "Source Sans 3", serif;
    color: #434343;
}
::placeholder {
    font-style: italic;
}
label{
    display: inline-block;
    font-family: "Source Sans 3", serif;
    color: #434343;
}

/* BUTTON STYLES */
.button{
    display: block;
    width: 220px;
    margin: 10px auto;
    padding: 10px;
    font-family: "Source Sans 3", serif;
    border: none;
    background-color: #72d1d4;
    border-radius: 5px;
    color: #434343;
    font-weight: 500;
}
.button:hover{
    background-color: #67bfc2;
    cursor: pointer;
}
button.gray{
    background-color: #d4d4d4;
}
.button.gray:hover{
    background-color: #c2c0c0;
    cursor: pointer;
}
button.yellow{
    background-color: #f6cb54;
}
button.yellow:hover{
    background-color: #e7aa05;
    cursor: pointer;
}
button.edit{
    background-color: white;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: #67bfc2;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
button.gray.edit:hover{
    background-color: white;
    color: #72d1d4;
}

/* DIV STYLES */
#component-div{
    display: block;
}
#hpu-div{
    display: none;
}
#msp-div{
    display: none;
}
#hmi-div{
    display: none;
}
#part-num-div{
    display: none;
}
#edit-div{
    display: none;
}
#email-div{
    display: none;
}
#email-conf-div{
    display: none;
}

/* HPU DROPDOWN STYLES */
.dropdown .trigger{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.dropdown .trigger::after{
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.dropdown .trigger.active::after{
    transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content{
    display: none;
}
.dropdown .content.active{
    display: block;
}

/* VALVE DROPDOWN STLES */
.valve-dropdown .trigger{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.valve-dropdown .trigger::after{
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(0.5, 1);
    font-weight: bold;
    transition: transform 0.3s;
}
.valve-dropdown .trigger.active::after{
    transform: rotate(-90deg) scale(0.5, 1);
}
.valve-dropdown .content{
    display: none;
}
.valve-dropdown .content.active{
    display: block;
}

/* VALVE POPUP STYLES */
.valve-popup-wrapper{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.valve-popup-div{
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    position: relative;
    border: none;
    border-radius: 5px;
}
.valve-popup-div h2{
    color: #72d1d4;
}
.valve-popup-close{
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
#valve-settings-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#valve-settings-div div{
    margin: 10px;
    padding: 10px;
}
#valve-popup-form select{
    width: 180px;
}
#valve-dropdowns-div{
    display: flex;
    justify-content: space-around;
}
#valve-dropdowns-div select{
    width: 160px;
    margin: 10px;
    padding: 10px;
}
#valve-popup-content{
    text-align: left;
}

/* VALVE IMAGES STYLES */
.valve-img-wrapper{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.valve-img-div{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    position: relative;
    border: none;
    border-radius: 5px;
}
.valve-img-div h2{
    color: #72d1d4;
}
.valve-img-close{
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
img{
    width: 260px;
}

/* ERROR POPUP STYLES */
.error-popup-wrapper{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.error-popup-div{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    position: relative;
    border: none;
    border-radius: 5px;
}
.error-popup-div h2{
    color: #72d1d4;
}
.error-popup-close{
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 15px;
    cursor: pointer;
}